.user__container {
	display: flex;
	margin-bottom: 1rem;
}
.user__icon {
	background-color: #3b82f6;
	border-radius: 80%;
	width: 100%;
	max-width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	margin: 0 0.5rem 0 2rem;
	padding: 0 1.1rem;
	position: relative;
}
.user__text {
	color: #9ca3af;
	font-size: small;
}
.status__icon {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #4ade80;
	border: 2px solid white;
	bottom: 0;
	right: -5px;
	position: absolute;
}
